@media (min-width: 1280px) {
  .hero {
    height: 60vh;
		min-height: 0;
  }
	.container {
		width: 80%;
		height: 70%;
	}

	.content {
		flex-direction: row;
	}
	.info {

	}
	h1 {
		font-size: 5em;
		margin: 0;
	}
	h2 {
		font-size: 2em;
	}
}
