@media (min-width: 1024px) {
	.hero {
		min-height: 1092px;
	}
	.container {
		width: 70%;
		height: 90%;
	}
	h1 {
		font-size: 5em;
		margin: 0;
		margin-top: 60px;
	}
	h2 {
		font-size: 2em;
	}
	.info {
		width: 100%;
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			font-size: 2em;
			margin: 0;
		}
	}
}
