body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: #fff; }

.header {
  width: 100%;
  height: 10vh;
  background-color: #222D32; }

.main {
  width: 100%;
  height: 90vh;
  background-color: #29353B; }

.hero {
  width: 100%;
  height: 80vh;
  min-height: 454px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: Gradient 10s ease infinite;
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .hero {
      min-height: 819px; } }
  @media (min-width: 1024px) {
    .hero {
      min-height: 1092px; } }
  @media (min-width: 1280px) {
    .hero {
      height: 50vh;
      min-height: 0; } }
  @media (min-width: 1366px) {
    .hero {
      height: 50vh; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.container {
  width: 95%;
  height: 95%; }
  @media (min-width: 768px) {
    .container {
      width: 60%; } }
  @media (min-width: 1024px) {
    .container {
      width: 70%;
      height: 90%; } }
  @media (min-width: 1280px) {
    .container {
      width: 80%;
      height: 70%; } }
  @media (min-width: 1920px) {
    .container {
      width: 80%;
      height: 90%; } }

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1280px) {
    .content {
      flex-direction: row; } }

.portrait {
  margin: 0;
  width: 90%;
  position: relative; }
  .portrait:hover .laizinho {
    animation-duration: .5s; }
  @media (min-width: 1280px) {
    .portrait {
      width: 40%; } }
  @media (min-width: 1366px) {
    .portrait {
      width: 40%; } }
  @media (min-width: 1920px) {
    .portrait {
      width: 30%; } }

.laizinho {
  width: 100%;
  height: auto;
  animation: bounce 1s ease-in-out infinite alternate;
  animation-fill-mode: both; }

.owo {
  position: absolute;
  left: 65%;
  top: -5%;
  width: 0%;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.whatisthis {
  position: absolute;
  top: 50%;
  right: 2%;
  width: 0%;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.uwu {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 0%;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.noticesyou {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 0%;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.wagsmytail {
  position: absolute;
  top: 5%;
  width: 0%;
  animation: bounce 1s ease-in-out infinite alternate;
  transition: width 1s; }

@keyframes bounce {
  from {
    transform: rotate(-10deg); }
  to {
    transform: rotate(10deg); } }

.portrait:hover .owo {
  width: 35%; }

.portrait:hover .whatisthis {
  width: 35%;
  transition-delay: 2s; }

.portrait:hover .uwu {
  width: 25%;
  transition-delay: 4s; }

.portrait:hover .noticesyou {
  width: 35%;
  transition-delay: 6s; }

.portrait:hover .wagsmytail {
  width: 35%;
  transition-delay: 10s; }

.info {
  width: 90%;
  height: 45%;
  text-align: center; }
  @media (min-width: 768px) {
    .info {
      width: 100%; } }
  @media (min-width: 1280px) {
    .info {
      width: 40%;
      height: auto; } }
  @media (min-width: 1366px) {
    .info {
      width: 70%; } }
  @media (min-width: 1920px) {
    .info {
      width: 40%; } }
  .info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0; }
  .info a {
    color: #fff;
    text-decoration: none; }
  .info .fab {
    margin: 0px 10px 0px 10px; }
  .info li {
    display: inline;
    font-size: 1em;
    line-height: 40px;
    transition: color 0.5s; }
    @media (min-width: 768px) {
      .info li {
        font-size: 2em;
        margin: 0;
        line-height: 60px; } }
    @media (min-width: 1024px) {
      .info li {
        font-size: 3em;
        line-height: 90px; } }
    @media (min-width: 1280px) {
      .info li {
        font-size: 1.5em;
        line-height: 60px; } }
    @media (min-width: 1366px) {
      .info li {
        font-size: 1.5em; } }
  .info li:hover {
    color: #5b4866; }

h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 20px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 5em; } }
  @media (min-width: 1024px) {
    h1 {
      margin-top: 60px; } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 4em; } }
  @media (min-width: 1366px) {
    h1 {
      font-size: 3em; } }
  @media (min-width: 1366px) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 1em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.5em; } }
  @media (min-width: 1366px) {
    h2 {
      font-size: 1.5em; } }
