body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: green;
  font-family: 'Comfortaa', cursive;
  color: #fff; }

.header {
  width: 100%;
  height: 10vh;
  background-color: #222D32; }

.main {
  width: 100%;
  height: 90vh;
  background-color: #29353B; }

.hero {
  width: 100%;
  height: 60vh;
  min-height: 580px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: Gradient 10s ease infinite;
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 60%;
  max-width: 1200px;
  height: 85%;
  max-height: 480px; }

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.portrait {
  width: 40%;
  position: relative; }

.laizinho {
  width: 100%;
  height: auto;
  animation: bounce 1s ease-in-out infinite alternate; }

.owo {
  position: absolute;
  left: 65%;
  top: 0;
  width: 0%;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.whatisthis {
  position: absolute;
  top: 50%;
  right: 2%;
  width: 0;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.uwu {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 0;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.noticesyou {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 0;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.05, 0.5, 0.19, 1.44);
  animation: bounce 1s ease-in-out infinite alternate; }

.wagsmytail {
  position: absolute;
  top: 5%;
  width: 0;
  animation: bounce 1s ease-in-out infinite alternate;
  transition: width 1s; }

.portrait:hover .owo {
  width: 12vh; }

.portrait:hover .whatisthis {
  width: 12vh;
  transition-delay: 2s; }

.portrait:hover .uwu {
  width: 7vh;
  transition-delay: 4s; }

.portrait:hover .noticesyou {
  width: 15vh;
  transition-delay: 6s; }

.portrait:hover .wagsmytail {
  width: 15vh;
  transition-delay: 8s; }

.info {
  width: 40%;
  height: 75%;
  text-align: center; }
  .info li {
    display: inline;
    margin: 10px;
    line-height: 2rem; }
  .info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #5b4866; }

h1 {
  font-size: 5rem;
  margin-bottom: 40px; }

h2 {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 20px; }

@media (max-width: 1760px) {
  h1 {
    font-size: 4rem;
    margin-top: 80px; } }

@media (max-width: 1411px) {
  h1 {
    font-size: 2.8rem;
    margin-top: 80px; }
  h2 {
    font-size: 1rem; } }

@media (max-width: 980px) {
  .hero {
    height: 80vh; }
  .container {
    width: 100%;
    max-width: 50vh;
    max-height: 100%; }
  .content {
    flex-direction: column; }
  .portrait {
    width: 80%; }
  .info {
    width: 80%; }
  h1 {
    font-size: 6rem; }
  h2 {
    font-size: 3rem;
    margin-bottom: 50px; }
  ul li {
    font-size: 3rem; }
  .fab {
    margin: 20px; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bounce {
  from {
    transform: rotate(-10deg); }
  to {
    transform: rotate(10deg); } }
